* {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 28px;
    padding-left: 80px;
    height: 1000px;
    background-color: rgb(245, 245, 245);

  }
  
  p {
    font-family: Roboto, Arial;
   
  }